$light: #f5f5f5;
$dark: #212121;
$border-default: #ccc;
$border-hover: #aaa;
$border-focus: #1e88e5;
$button-bg-default: #1e88e5;
$button-bg-hover: #2196f3;
$button-border: #1e88e5;
$bg-light: #5e6c78;
$bg-dark: #292a2c;
$link-default: #1e88e5;
$link-hover: #2196f3;
$link-light: #ccc;
$error: #f44336;