$light: #eee;
$dark: #333;
$border-default: #ccc;
$border-hover: #aaa;
$border-focus: #1e88e5;
$button-default: #eee;
$bg-light: #5e6c78;
$bg-dark: #292a2c;
$link-default: #1e88e5;
$link-hover: #1565c0;
$link-light: #ccc;