section.content
  .wrapper
    section.info
      .info-row
        .info-col
          h4.icon.openvpn OpenVPN
          p Work from home all day long
        .info-col
          h4.icon.owncloud ownCloud
          p Share files easily from your phone or computer
        .info-col
          h4.icon.lock Military grade security
          p Best security on planet
      .info-row
        .info-col
          h4.icon.openldap OpenLDAP
          p All user accounts on one central auth server
        .info-col
          h4.icon.https HTTPS
          p So very secure
        .info-col
          h4.icon.linotp Two factor authentication
          p So good