section.content
  .wrapper
    section.info
      .info-row
        .info-col
          h2.icon.openvpn OpenVPN
          p Work from home all day long
        .info-col
          h2.icon.owncloud ownCloud
          p Share files easily from your phone or laptop
        .info-col
          h2.icon.lock Highest security
          p Best security on planet
      .info-row
        .info-col
          h2.icon.snort Snort
          p Watch yo back m8
        .info-col
          h2.icon.https HTTPS
          p So very secure
        .info-col
          h2.icon.lock Highest security
          p Best security on planet