footer
  .wrapper
    ul.pull-right
      li
        a(onClick="$('#sign-in').click();") Sign in
      li
        a(href="https://www.kth.se/social/course/EP2520/") KTH | Course web

    ul.center
      li
        a(href="/")
          img(src="../images/acme-simple.png")
    ul
      li © 2016 ACME AB
      li
        a(href="/") Home
      li
        a(href="/owncloud") ownCloud