<!--<?php session_start(); ?>-->
doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title Welcome to ACME
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/main.css")
    script(src="js/jquery-2.2.1.min.js")
  body
    .container
      include ./header.jade
      .hero
      include ./content.jade
      include ./footer.jade