doctype html
html
  head
    title Welcome to ACME
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
    link(rel="stylesheet", href="css/main.css")
  body
    .container
      include ./header.jade
      .hero
      include ./content.jade
      include ./footer.jade
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script.
    $(document).on('click', function(e) {
      if (!$(e.target).closest('#login-box').length && $(e.target)[0].id !== 'sign-in') {
        $('#login-box').animate({marginTop: '3px', opacity: 0, display: 'none'}, 150);
        $('input, button').attr('tabindex', -1);
        $('form > a').attr('tabindex', -1);
      }
    });
    $('#sign-in').click(function(e) {
      $('#login-box').show();
      $('#login-box').animate({marginTop: '8px', opacity: 1}, 150);
      $('input, button').attr('tabindex', 1);
      $('form > a').attr('tabindex', 2);
      $('input').first().focus();
    });
    $(window).scroll(function(){
      if($(window).scrollTop() > 452)
        $("header").addClass('solid');
      else
        $("header").removeClass('solid');
    });